/* @override 
	http://localhost:3000/stylesheets/public.css
*/

/** BEGIN STYLES */

@import "/stylesheets/screen/menu.css";
@import "/stylesheets/screen/footer.css";

body  { background: #fff; padding-top: 2.8em; }
#wrap { background: #fff; }

#wrap {
	font-family: Helvetica, Arial, sans-serif;
	width: 910px;
	margin: 0 auto;
	padding: 0;
}

img#main {
	border: 1px solid #000;
}