#masthead {
	position: absolute; top: 0; left: 0; 
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	text-align: right;
	margin-bottom: 2px;
}

#masthead ul { display: block; }
#masthead ul li {
	float: left;
	padding: 0 20px 0 0; margin: 0; line-height: 2em;
}

#masthead a {
	float: left;
	color: #000; text-decoration: none;
}

#masthead ul li:first-child a {
	padding-left: 10px;
}