<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Comments for ‘<%= @post.title %>’</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/stylesheets/reset.css"  media="screen" rel="Stylesheet" type="text/css" />
	<link href="/stylesheets/screen.css" media="screen" rel="Stylesheet" type="text/css" />
	<script src="/javascripts/application.js" type="text/javascript"></script>
</head>

<body id="comments"><div id="wrap">

	<div id="mastbody">
		<%= @content_for_layout %>
	</div>
	
</div></body>
</html>